In [39]:
import pandas as pd
import nltk

In [40]:
data = pd.read_csv("stockprice_15_04_2019-25_10_2017.csv")
nabil_data = data.loc[data['traded_companies'] == "Nabil Bank Limited"]
nabil_data["date"] = pd.to_datetime(nabil_data["date"])
nabil_data.set_index("date", inplace = True)

/home/aakalpa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [41]:
nabil_data.tail()

,traded_companies,no_of_transaction,max_price,min_price,closing_price,traded_shares,amount,previous_closing,difference_rs
date,,,,,,,,,
2017-10-18,Nabil Bank Limited,42.0,1280.0,1264.0,1277.0,4812.0,6117000.0,1273.0,4.0
2017-10-22,Nabil Bank Limited,16.0,1285.0,1270.0,1272.0,1070.0,1368105.0,1277.0,-5.0
2017-10-23,Nabil Bank Limited,30.0,1280.0,1260.0,1265.0,1708.0,2169615.0,1272.0,-7.0
2017-10-24,Nabil Bank Limited,24.0,1270.0,1251.0,1257.0,2908.0,3659420.0,1265.0,-8.0
2017-10-25,Nabil Bank Limited,32.0,1265.0,1235.0,1235.0,2350.0,2930820.0,1257.0,-22.0

In [42]:
news_data = pd.read_csv("processed_data.csv")
news_data.tail()

,Unnamed: 0,date,news
39584,39584,2011-03-28,"['gurkha_development_bank', 'limited', 'has', ..."
39585,39585,2011-03-28,"['27', 'march,2011', ':', 'kaski', 'finance', ..."
39586,39586,2011-03-27,"['citizens_bank', 'interational', 'ltd.', 'is'..."
39587,39587,2011-03-27,"['income', 'from', 'tourism', 'declines', ':',..."
39588,39588,2011-03-27,"['lumbini', 'bank_ltd.', 'has', 'shifted', 'it..."

In [43]:
news = news_data.groupby("date")['news'].apply(list)

In [44]:
news = pd.DataFrame(news)

In [45]:
result_df = nabil_data.join(news, how = "inner")

In [46]:
result_df.head()

,traded_companies,no_of_transaction,max_price,min_price,closing_price,traded_shares,amount,previous_closing,difference_rs,news
date,,,,,,,,,,
2011-03-27,Nabil Bank Limited,14.0,1160.0,1120.0,1147.0,1426.0,1619270.0,1174.0,-27.0,"[['citizens_bank', 'interational', 'ltd.', 'is..."
2011-03-28,Nabil Bank Limited,12.0,1150.0,1110.0,1132.0,352.0,393534.0,1147.0,-15.0,"[['capital', 'merchant', 'bank', '&', 'finance..."
2011-03-29,Nabil Bank Limited,24.0,1120.0,1050.0,1097.0,1456.0,1576420.0,1132.0,-35.0,"[['bhargav', 'bikash', 'bank_ltd.', 'has', 'pu..."
2011-03-30,Nabil Bank Limited,16.0,1076.0,1030.0,1040.0,1340.0,1394926.0,1097.0,-57.0,"[['finance', 'secretary', 'khanal', 'resigns',..."
2011-03-31,Nabil Bank Limited,23.0,1109.0,1020.0,1082.0,1828.0,1947570.0,1040.0,42.0,"[['real', 'sector', 'fails', 'to', 'make', 'im..."

In [10]:
import gensim

In [19]:
model = gensim.models.KeyedVectors.load("model")

In [20]:
model.get_vector("nabil")

In [21]:
import numpy as np
def vectorize(news):
    result = []
    for new in news:
        li = list(map(model.get_vector, new))
        result.append( np.average(li, axis = 0))
    return result

In [22]:
result_df.news = result_df.news.apply(vectorize)

NameError: name 'model' is not defined

In [47]:
np.array(result_df.head(1).news)

array([list(["['citizens_bank', 'interational', 'ltd.', 'is', 'selling', 'unsold', 'promoter_share', 'in', 'auction', 'to', 'general', 'public.', ',']", "['income', 'from', 'tourism', 'declines', ':', 'nrb', ',']", "['lumbini', 'bank_ltd.', 'has', 'shifted', 'its', 'durbarmarg', 'branch', 'to', 'narayanchour', ',', 'naxal', ',']"])],
      dtype=object)

In [48]:
result_df[["closing_price", "news"]].head()

            closing_price                                               news
date
2011-03-27         1147.0  [['citizens_bank', 'interational', 'ltd.', 'is...
2011-03-28         1132.0  [['capital', 'merchant', 'bank', '&', 'finance...
2011-03-29         1097.0  [['bhargav', 'bikash', 'bank_ltd.', 'has', 'pu...
2011-03-30         1040.0  [['finance', 'secretary', 'khanal', 'resigns',...
2011-03-31         1082.0  [['real', 'sector', 'fails', 'to', 'make', 'im...

In [49]:
def get_momentum(stock_cp, window):
    ''''This function calculates momentum which is defined as:
            m=ct - ct-n
            where ct = closing price of current price
                  ct-n = closing price of n days before
        Input:  stock_cp = closing price pandas series
                window = t-n
        Ouput: Momentum for each day
    '''
    momentum = stock_cp.rolling(window=window).apply(lambda x: x[-1] - x[0])
    return momentum


def get_ema(stock_cp, span=12):
    '''This function calculates exponential moving average(ema) over span=span'''
    return stock_cp.ewm(span=span).mean()


def get_macd(stock_cp, nshort=12, nlong=26):
    '''This function calculates moving average convergence/divergence given by:
            MACD = ema(nshort) - ema(nlong)
    '''
    emashort = get_ema(stock_cp, nshort)
    emalong = get_ema(stock_cp, nlong)
    macd = emashort - emalong
    return macd


def get_RSI(stock_cp, window):
    '''This function calculates Relative strength index, which is given by:
                RSI= avg(ut, ut-1, ... ,ut-n+1)/ avg(dt, dt-1, ..., dt-n+1)
                where ut = ct - ct-1 if ct>ct-1 else 0
                      dt = ct-1 - ct if ct<ct-1 else 0
    '''
    # Calculating upward and downward trends
    up_trends = stock_cp.rolling(window=2).apply(lambda y: y[1] - y[0] if y[1] > y[0] else 0)
    down_trends = stock_cp.rolling(window=2).apply(lambda y: y[0] - y[1] if y[0] > y[1] else 0)

    # Averaging upward and downward trends over period of window
    avg_uptrends = up_trends.rolling(window=window).mean()
    # print(avg_uptrends.head(30))
    avg_downtrends = down_trends.rolling(window=window).mean()
    # print(avg_downtrends.head(30))

    # Finally RSI
    RSI = avg_uptrends.divide(avg_downtrends)
    return RSI


def get_ROI(stock_cp):
    '''this function calculates average of past n days(n = window) divided by closing price'''
    temp1 = stock_cp.rolling(window=10).mean()
    temp2 = stock_cp
    return temp1 / temp2


def get_stochrsi(stock_rsi, window):
    '''This function calculates stochastic RSI which is given by:
                STOCHRSI = (RSI - min{RSIt, RSIt-1,..., RSIt-n+1}))/(max{RSIt, RSIt-1,..., RSIt-n+1} - min{RSIt, RSIt-1,..., RSIt-n+1})
    '''
    min_rsi = stock_rsi.rolling(window=window).min()
    max_rsi = stock_rsi.rolling(window=window).max()
    stochrsi = (stock_rsi - min_rsi) / (max_rsi - min_rsi)
    return stochrsi


def get_ATR(stock_cp, window):
    min_ATR = stock_cp.rolling(window=window).min()
    max_ATR = stock_cp.rolling(window=window).max()
    TR_final = max_ATR - min_ATR
    final_ATR = get_ema(TR_final, span=14)
    return TR_final


def get_ADX(stock_cp, window):
    max_ADX = stock_cp.rolling(window=window).max()
    min_ADX = stock_cp.rolling(window=window).min()
    up = max_ADX.rolling(window=window).apply(lambda x: x[-1] - x[-2])
    dw = min_ADX.rolling(window=window).apply(lambda x: x[-2] - x[-1])
    plus_DM = pd.DataFrame(np.where((up > dw) & (up > 0), up, 0))
    minus_DM = pd.DataFrame(np.where((up < dw) & (dw > 0), dw, 0))
    plus_DI = get_ema(plus_DM, span=14)
    minus_DI = get_ema(minus_DM, span=14)
    sub_ADX = plus_DI - minus_DI
    result = get_ema(sub_ADX) / sub_ADX
    return result


def get_williams(stock_cp, window):
    min_cp = stock_cp.rolling(window=window).min()
    max_cp = stock_cp.rolling(window=window).max()
    williams = (max_cp - stock_cp) / (max_cp - min_cp)
    return williams


def get_CCI(stock_cp, window):
    min_cp = stock_cp.rolling(window=window).min()
    max_cp = stock_cp.rolling(window=window).max()
    result = (max_cp + min_cp + stock_cp) / 3
    return result


def get_AVG_for_UO(stock_cp, n):
    min_ATR = stock_cp.rolling(window=n).min()
    max_ATR = stock_cp.rolling(window=n).max()
    TR_final = max_ATR - min_ATR
    bp = stock_cp - min_ATR
    numerator = bp.rolling(window=n).apply(lambda x: x[-1] + x[-2] + x[-n])
    denominator = TR_final.rolling(window=n).apply(lambda x: x[-1] + x[-2] + x[-n])
    return numerator / denominator


def get_UO(stock_cp, window):
    uo = (4 * get_AVG_for_UO(stock_cp, 7) + 2 * get_AVG_for_UO(stock_cp, 14) + get_AVG_for_UO(stock_cp, 28)) / 7
    return uo

def get_tech_indicators(stock_csv, window):
    ''' This function calculates the technical indicators and append them to the closing price in the given csv file.
        Input: stock_csv = closing price csv file
               window = no.of days to average to calculate technical indicators
        Ouput: csvfile with technical indicators appended to closing price of each day
    '''
    # Here, a pandas dataframe is made by reading csv file
    stock_df = pd.read_csv(stock_csv, index_col=0)
    stock_cp = stock_df['nepse_index']

    # Add Momentum column
    stock_df['momentum'] = get_momentum(stock_cp, window)

    # Add EMA
    stock_df['EMA'] = get_ema(stock_cp)

    # Add MACD
    stock_df['MACD'] = get_macd(stock_cp)

    # Add RSI
    stock_df['RSI'] = get_RSI(stock_cp, window)

    # Add STOCHRSI
    stock_df['STOCHRSI'] = get_stochrsi(stock_df['RSI'], window)

    stock_df['ROI'] = get_ROI(stock_cp)

    stock_df['ATR'] = get_ATR(stock_cp, window)

    stock_df['ADX'] = get_ADX(stock_cp, window)

    stock_df['williams'] = get_williams(stock_cp, window)

    stock_df['CCI'] = get_CCI(stock_cp, window)

    stock_df['UO'] = get_UO(stock_cp, window)
    return stock_df

In [50]:
stock_df = get_tech_indicators("Nepse_index.csv", 5)

/home/aakalpa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  # Remove the CWD from sys.path while we load stuff.
/home/aakalpa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:36: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
/home/aakalpa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:37: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
/home/aakalpa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:78: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
/home/aakalpa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:79: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
/home/aakalpa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:108: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
/home/aakalpa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:109: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning

In [51]:
stock_df.head(30)

,date,nepse_index,momentum,EMA,MACD,RSI,STOCHRSI,ROI,ATR,ADX,williams,CCI,UO
0,2018-06-12,1858.069946,NaN,1858.069946,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-06-13,1875.709961,NaN,1867.624954,0.395770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-06-14,1895.160034,NaN,1878.371902,1.107435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-06-17,1924.109985,NaN,1892.809628,2.449200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-06-18,1928.489990,70.420044,1902.503855,3.301024,NaN,NaN,NaN,70.420044,NaN,0.000000,1905.016642,NaN
5,2018-06-19,1920.439941,44.729980,1906.863267,3.406813,8.747778,NaN,NaN,52.780029,NaN,0.152521,1908.213298,NaN
6,2018-06-20,1914.369995,19.209961,1908.538367,3.140996,3.737964,NaN,NaN,33.329956,NaN,0.423643,1912.673340,NaN
7,2018-06-21,1848.689941,-75.420044,1896.048923,-0.211476,0.417668,NaN,NaN,79.800049,NaN,1.000000,1875.289958,NaN
8,2018-06-24,1846.569946,-81.920044,1886.260221,-2.634962,0.053467,NaN,NaN,81.920044,0.197836,1.000000,1873.876628,NaN
9,2018-06-25,1848.829956,-71.609985,1879.167200,-4.199372,0.027588,0.000000,1.020128,73.869995,0.383911,0.969406,1871.946615,NaN
10,2018-06-26,1796.810059,-117.559937,1864.097829,-8.042336,0.017952,0.000000,1.046253,117.559937,0.194669,1.000000,1835.996704,NaN
11,2018-06-27,1817.479980,-31.209961,1855.809328,-9.614971,0.191370,0.433852,1.031150,52.019897,0.368913,0.602654,1821.039998,NaN
12,2018-06-28,1810.000000,-36.569946,1847.855089,-11.076264,0.372119,1.000000,1.030707,52.019897,0.535660,0.746444,1818.546672,NaN
13,2018-07-01,1791.359985,-57.469971,1838.235776,-13.106508,0.293447,0.777868,1.034021,57.469971,0.622046,1.000000,1810.516642,NaN
14,2018-07-02,1793.589966,-3.220093,1830.756839,-14.338059,0.293063,0.776783,1.025214,26.119995,0.777448,0.914626,1800.809977,NaN
15,2018-07-03,1800.119995,-17.359985,1825.693859,-14.696295,1.126720,1.000000,1.014811,26.119995,0.927283,0.664624,1802.986654,NaN
16,2018-07-04,1820.979980,10.979980,1824.923643,-13.496209,1.133997,1.000000,0.998058,29.619995,1.217783,0.000000,1811.106649,NaN
17,2018-07-05,1879.579956,88.219971,1833.769663,-8.716734,4.732827,1.000000,0.968584,88.219971,-0.406053,0.000000,1850.173299,NaN
18,2018-07-08,1921.569946,127.979980,1847.867165,-2.244031,inf,NaN,0.951322,127.979980,-0.018508,0.000000,1878.909953,NaN
19,2018-07-09,1899.250000,99.130005,1856.062313,1.316955,5.733884,NaN,0.965157,121.449951,0.141374,0.183779,1873.646647,NaN
20,2018-07-10,1897.839966,76.859985,1862.688105,3.959199,5.117996,NaN,0.971197,100.589966,0.296959,0.235908,1880.129964,NaN
21,2018-07-11,1811.420044,-68.159912,1854.595610,0.160950,0.913210,NaN,1.017197,110.149902,0.517560,1.000000,1848.136678,NaN
22,2018-07-12,1773.770020,-147.799927,1841.888392,-5.344546,0.284100,NaN,1.036745,147.799927,-6.060220,1.000000,1823.036662,NaN
23,2018-07-15,1814.430054,-84.819946,1837.585960,-6.762209,0.275102,0.000000,1.014784,125.479980,-5.770594,0.675964,1829.150024,NaN
24,2018-07-16,1846.719971,-51.119995,1839.013105,-5.540793,0.581367,0.063240,0.999918,124.069946,-5.486751,0.412026,1839.443319,NaN
25,2018-07-17,1793.609985,-17.810059,1831.936064,-8.254247,0.411728,0.214111,1.029163,72.949951,-5.208680,0.728033,1804.699992,NaN
26,2018-07-18,1793.609985,19.839966,1825.974203,-10.271957,0.803768,1.000000,1.027637,72.949951,-4.936359,0.728033,1804.699992,NaN
27,2018-07-19,1808.219971,-6.210083,1823.217136,-10.680821,1.648653,1.000000,1.015388,53.109985,-4.669757,0.724911,1816.183309,NaN
28,2018-07-22,1773.650024,-73.069946,1815.530928,-13.367648,0.534899,0.099578,1.026838,73.069946,-0.104037,1.000000,1798.006673,NaN
29,2018-07-23,1773.650024,-19.959961,1809.044512,-15.310002,0.166629,0.000000,1.019757,34.569946,0.053211,1.000000,1785.173340,NaN

In [52]:
final = stock_df.join(result_df,how='inner')

In [53]:
final.head()

Empty DataFrame
Columns: [date, nepse_index, momentum, EMA, MACD, RSI, STOCHRSI, ROI, ATR, ADX, williams, CCI, UO, traded_companies, no_of_transaction, max_price, min_price, closing_price, traded_shares, amount, previous_closing, difference_rs, news]
Index: []

[0 rows x 23 columns]