In [9]:
import pandas as pd
import nltk

In [2]:
data = pd.read_csv("stockprice_15_04_2019-25_10_2017.csv")
nabil_data = data.loc[data['traded_companies'] == "Nabil Bank Limited"]
nabil_data["date"] = pd.to_datetime(nabil_data["date"])
nabil_data.set_index("date", inplace = True)

/usr/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [3]:
nabil_data.tail()

,traded_companies,no_of_transaction,max_price,min_price,closing_price,traded_shares,amount,previous_closing,difference_rs
date,,,,,,,,,
2017-10-18,Nabil Bank Limited,42.0,1280.0,1264.0,1277.0,4812.0,6117000.0,1273.0,4.0
2017-10-22,Nabil Bank Limited,16.0,1285.0,1270.0,1272.0,1070.0,1368105.0,1277.0,-5.0
2017-10-23,Nabil Bank Limited,30.0,1280.0,1260.0,1265.0,1708.0,2169615.0,1272.0,-7.0
2017-10-24,Nabil Bank Limited,24.0,1270.0,1251.0,1257.0,2908.0,3659420.0,1265.0,-8.0
2017-10-25,Nabil Bank Limited,32.0,1265.0,1235.0,1235.0,2350.0,2930820.0,1257.0,-22.0

In [17]:
news_data = pd.read_csv("processed_data.csv")
news_data.tail()

,Unnamed: 0,date,news
39584,39584,2011-03-28,"['gurkha_development_bank', 'limited', 'has', ..."
39585,39585,2011-03-28,"['27', 'march,2011', ':', 'kaski', 'finance', ..."
39586,39586,2011-03-27,"['citizens_bank', 'interational', 'ltd.', 'is'..."
39587,39587,2011-03-27,"['income', 'from', 'tourism', 'declines', ':',..."
39588,39588,2011-03-27,"['lumbini', 'bank_ltd.', 'has', 'shifted', 'it..."

In [18]:
news = news_data.groupby("date")['news'].apply(list)

In [19]:
news = pd.DataFrame(news)

In [20]:
result_df = nabil_data.join(news, how = "inner")

In [24]:
result_df.head()

,traded_companies,no_of_transaction,max_price,min_price,closing_price,traded_shares,amount,previous_closing,difference_rs,news
date,,,,,,,,,,
2011-03-27,Nabil Bank Limited,14.0,1160.0,1120.0,1147.0,1426.0,1619270.0,1174.0,-27.0,"[['citizens_bank', 'interational', 'ltd.', 'is..."
2011-03-28,Nabil Bank Limited,12.0,1150.0,1110.0,1132.0,352.0,393534.0,1147.0,-15.0,"[['capital', 'merchant', 'bank', '&', 'finance..."
2011-03-29,Nabil Bank Limited,24.0,1120.0,1050.0,1097.0,1456.0,1576420.0,1132.0,-35.0,"[['bhargav', 'bikash', 'bank_ltd.', 'has', 'pu..."
2011-03-30,Nabil Bank Limited,16.0,1076.0,1030.0,1040.0,1340.0,1394926.0,1097.0,-57.0,"[['finance', 'secretary', 'khanal', 'resigns',..."
2011-03-31,Nabil Bank Limited,23.0,1109.0,1020.0,1082.0,1828.0,1947570.0,1040.0,42.0,"[['real', 'sector', 'fails', 'to', 'make', 'im..."

In [25]:
import gensim

In [29]:
model = gensim.models.KeyedVectors.load("model")

In [32]:
model.get_vector("nabil")

array([ 1.3258145 , -0.76911294,  0.99010336, -1.52899   , -1.0176576 ,
        1.348651  , -0.25274074,  1.582532  ,  0.14764838,  0.94472724,
       -0.37010437, -1.4983261 , -0.5293481 , -1.5408803 ,  0.21962017,
        0.57169455,  0.43515724,  0.03204608,  0.5487077 , -1.5833049 ,
        0.7968877 , -0.5915963 , -0.62255037, -0.47957012,  0.90518034,
        0.5615598 , -0.58158714,  0.4645961 , -1.4251713 ,  0.08732081,
        0.84663564,  0.7135513 ,  1.1959249 ,  0.47754547,  0.01434105,
       -1.6176889 , -0.586676  ,  0.10666194, -1.119466  , -0.9800852 ,
       -1.2426282 ,  0.27884215,  0.8489607 ,  1.6138057 ,  0.41307768,
       -0.5791473 , -0.40996104,  0.3306974 , -1.2260319 , -0.2630171 ,
       -0.11440781,  0.44768652,  1.3737814 ,  1.4242519 , -0.7581244 ,
        0.24446177, -0.19850731,  0.23978609, -0.57753336, -0.8013171 ,
        2.089949  ,  1.2672119 ,  1.8016299 , -0.5623023 , -1.1486661 ,
       -0.07659995, -0.16400583, -0.6348515 , -0.84501326,  0.03591229,
       -0.48088297,  0.9895666 ,  0.7223328 , -0.16188075, -0.79099643,
       -1.204494  ,  0.5671163 ,  0.8179041 , -0.4176523 ,  1.7247913 ,
       -0.42540488,  0.43492514,  1.489938  ,  1.0505106 , -0.25545838,
       -1.2739227 , -0.276226  , -0.94696575, -1.7177135 , -0.634306  ,
       -0.08557329,  0.24472809,  0.3777668 , -0.42166364,  0.8117232 ,
        0.17983828, -0.32427126,  1.030431  ,  0.43550453, -0.47809193],
      dtype=float32)

In [40]:
import numpy as np
def vectorize(news):
    result = []
    for new in news:
        li = list(map(model.get_vector, new))
        result.append( np.average(li, axis = 0))
    return result

In [43]:
result_df.news = result_df.news.apply(vectorize)

In [46]:
np.array(result_df.head(1).news)

array([list([array([ 2.75943220e-01,  6.26355588e-01,  6.06337905e-01, -5.18821061e-01,
        6.88847974e-02, -8.70770276e-01,  7.30903327e-01, -2.80250788e-01,
        1.50923952e-01,  4.26712930e-02, -8.50091457e-01, -6.48530796e-02,
       -2.73776740e-01,  6.96022749e-01,  2.09348163e-05, -3.44716460e-01,
        1.04149587e-01, -6.46334887e-01, -1.24564394e-01, -9.40130353e-01,
       -1.74250916e-01,  2.58777887e-01,  1.22607119e-01, -3.45943153e-01,
       -1.63669646e-01, -5.18338859e-01, -4.13281977e-01,  5.19943714e-01,
       -2.69818276e-01,  8.03209364e-01,  4.73370939e-01,  4.89581436e-01,
        4.79189247e-01, -4.23913859e-02,  1.87810168e-01, -7.74231777e-02,
       -2.17911992e-02,  3.18085402e-02, -1.91615567e-01, -1.75861523e-01,
       -7.59915054e-01, -6.30263314e-02,  4.35225777e-02,  1.17870080e+00,
        6.47207260e-01,  8.08237314e-01, -3.55857521e-01, -1.04694389e-01,
        2.96265334e-01, -6.91980645e-02, -1.98170751e-01,  2.48677313e-01,
       -5.22178590e-01,  8.62176642e-02,  4.38399911e-01,  2.36412406e-01,
        1.87904403e-01, -3.28302711e-01,  8.57480526e-01,  4.15908992e-01,
       -2.57858515e-01, -1.98420823e-01,  1.10415839e-01,  1.77713588e-01,
       -3.66131812e-01,  1.66336074e-01, -1.88524514e-01, -2.13259161e-01,
       -7.29231477e-01, -7.77979493e-02, -2.46870160e-01, -5.35868287e-01,
       -3.32017571e-01, -4.38223720e-01, -4.71673384e-02, -6.29482865e-01,
        1.71182096e-01, -8.94755349e-02, -2.96125203e-01, -3.23969752e-01,
        8.81505489e-01, -3.33508700e-01, -7.39618614e-02,  3.46027501e-02,
       -5.46319902e-01,  2.68965125e-01, -1.09322950e-01, -1.68928728e-01,
       -2.14759987e-02,  9.46723700e-01, -6.86785281e-02,  2.52312928e-01,
        5.82421541e-01, -5.69493294e-01,  3.37932855e-01,  5.77242672e-01,
       -3.71607065e-01, -2.26243615e-01, -4.57602628e-02, -1.53917700e-01],
      dtype=float32), array([ 3.22664589e-01,  9.38305378e-01,  6.07464969e-01, -5.70939481e-01,
       -1.16420416e-02, -9.44471598e-01,  6.02150798e-01, -1.96962014e-01,
       -7.86095113e-02,  5.70184924e-02, -5.59602916e-01, -6.42984658e-02,
       -3.59526873e-01,  6.78998291e-01, -9.87453759e-02, -3.03562671e-01,
        8.74169022e-02, -8.74135494e-01, -3.09735090e-01, -1.24519324e+00,
       -2.82749474e-01,  8.80343840e-02,  3.11470896e-01, -6.11292601e-01,
       -3.07200938e-01, -6.42816722e-01, -2.79726774e-01,  6.62705481e-01,
       -3.04869950e-01,  9.28241551e-01,  3.84799004e-01,  5.23807764e-01,
        5.21812975e-01, -1.78383157e-01,  2.38243356e-01, -1.99356541e-01,
        1.77612022e-01, -7.62086660e-02, -5.30521572e-01, -8.17164108e-02,
       -8.90761554e-01,  4.57782298e-02, -1.42008632e-01,  1.35187137e+00,
        8.14975142e-01,  6.27409577e-01, -3.03676069e-01, -3.16360176e-01,
        5.73434174e-01, -3.26636642e-01, -3.72364879e-01,  1.78053036e-01,
       -7.57011652e-01,  1.19545117e-01,  4.87810910e-01,  3.98569822e-01,
       -1.11114174e-01, -5.84402919e-01,  1.21751392e+00,  5.81617892e-01,
       -3.64775091e-01,  6.14265120e-03,  2.09673848e-02,  1.29179272e-03,
        1.41525296e-02,  1.48133099e-01, -1.09810226e-01, -1.08374462e-01,
       -7.24464357e-01, -1.58139139e-01, -1.27665803e-01, -4.03784156e-01,
       -3.59068453e-01, -7.61817336e-01,  1.95599832e-02, -5.29499829e-01,
        1.41966492e-01, -3.31862152e-01, -3.76857221e-01, -6.25439703e-01,
        8.74244869e-01, -3.75942111e-01, -1.82290450e-01, -2.18211431e-02,
       -4.67375517e-01,  3.08013648e-01, -2.11438052e-02,  5.40711507e-02,
       -1.54536575e-01,  9.71653163e-01, -1.78366482e-01,  4.03775424e-01,
        7.35015273e-01, -5.19098282e-01,  3.79482508e-01,  5.14801979e-01,
       -6.43906713e-01, -2.80577093e-01, -7.50331134e-02, -2.07118541e-01],
      dtype=float32), array([ 0.10786633,  0.617084  ,  0.64841264, -0.49591818, -0.03404813,
       -0.9010406 ,  0.79362994, -0.17516895,  0.16727461,  0.13114692,
       -0.8246794 , -0.13660829, -0.29953083,  0.6854252 , -0.19877991,
       -0.20663634,  0.0359855 , -0.9507111 , -0.14748465, -0.90251195,
       -0.07270234,  0.1667896 ,  0.21085301, -0.37565115, -0.2346795 ,
       -0.55090576, -0.36130187,  0.49908927, -0.2542293 ,  0.95870876,
        0.51011515,  0.28680286,  0.456179  , -0.04783281,  0.25643128,
       -0.00158143, -0.09947833, -0.13235152, -0.26249525, -0.23239312,
       -0.60034585,  0.00980679,  0.07394534,  1.0746262 ,  0.7749111 ,
        0.8372215 , -0.5488535 , -0.02884687,  0.30939204, -0.23099841,
       -0.2846453 ,  0.15007515, -0.5836208 ,  0.06584171,  0.5859248 ,
        0.11249626,  0.3157321 , -0.37450674,  0.75568944,  0.50340575,
       -0.19551064, -0.42801806,  0.13089924, -0.06602926, -0.42937714,
        0.13439316, -0.1675091 , -0.2686    , -0.701412  , -0.10914557,
       -0.28274068, -0.7610824 , -0.4099102 , -0.5904232 , -0.14187104,
       -0.48146766,  0.00310696,  0.01995134, -0.16351002, -0.29488295,
        0.7721187 , -0.26183206, -0.07817146,  0.09599168, -0.718367  ,
        0.28003854, -0.28574932, -0.22259945, -0.04752637,  1.0665973 ,
       -0.17703025,  0.3080457 ,  0.5088154 , -0.80598307,  0.28808606,
        0.43299925, -0.43643254, -0.21939936,  0.07291286, -0.2512347 ],
      dtype=float32)])], dtype=object)

In [50]:
result_df[["closing_price", "news"]].head()

            closing_price                                               news
date
2011-03-27         1147.0  [[0.27594322, 0.6263556, 0.6063379, -0.5188210...
2011-03-28         1132.0  [[0.21920921, 0.7366271, 0.6421762, -0.5315173...
2011-03-29         1097.0  [[0.17657533, 0.77826136, 0.63073933, -0.50873...
2011-03-30         1040.0  [[0.24216579, 0.6578429, 0.73102975, -0.568503...
2011-03-31         1082.0  [[0.24721189, 0.8349754, 0.68579185, -0.577519...