In [1]:
import pandas as pd
import numpy as np

In [63]:
data = pd.read_csv("stockprice_15_04_2019-25_10_2017.csv")
data.columns = ["time", "traded_companies", "no_trans", "high", 
                "low", "close", "traded_shares", "amount", "open", "diff"]
                #"ma20", "ma50", "std20", "bband_l", "bband_u", "mad"]
#data.set_index("time", inplace = True)
data.head()

,time,traded_companies,no_trans,high,low,close,traded_shares,amount,open,diff
0,4/15/2010,Api Finance Limited,46.0,247.0,240.0,240.0,1520.0,375070.0,243.0,-3.0
1,4/15/2010,Arun Valley Hydropower Development Co. Ltd.,2.0,430.0,430.0,430.0,30.0,12900.0,438.0,-8.0
2,4/15/2010,Axis Development Bank Limited,2.0,240.0,240.0,240.0,60.0,14400.0,240.0,0.0
3,4/15/2010,Bank of Asia Nepal Limited,7.0,311.0,300.0,300.0,440.0,134040.0,308.0,-8.0
4,4/15/2010,Bank of Kathmandu Ltd.,6.0,747.0,740.0,747.0,273.0,202424.0,740.0,7.0

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182655 entries, 0 to 182654
Data columns (total 10 columns):
time                182497 non-null object
traded_companies    182497 non-null object
no_trans            182497 non-null float64
high                182497 non-null float64
low                 182497 non-null float64
close               182497 non-null float64
traded_shares       182497 non-null float64
amount              182497 non-null float64
open                182497 non-null float64
diff                182497 non-null float64
dtypes: float64(8), object(2)
memory usage: 13.9+ MB

In [87]:
ma20 = data[["time","traded_companies", "close"]].set_index("time").groupby(["traded_companies"]).rolling(20).mean().reset_index()
ma20.columns = ["traded_companies","time", "ma20"]
data = pd.merge(data,ma20, on=["time", "traded_companies"],how='inner')

In [88]:
ma50 = data[["time","traded_companies", "close"]].set_index("time").groupby(["traded_companies"]).rolling(50).mean().reset_index()
ma50.columns = ["traded_companies","time", "ma50"]
data = pd.merge(data,ma50, on=["time", "traded_companies"],how='inner')

In [94]:
std20 = data[["time","traded_companies", "close"]].set_index("time").groupby(["traded_companies"]).rolling(20).std().reset_index()
std20.columns = ["traded_companies","time", "std20"]
data = pd.merge(data,std20, on=["time", "traded_companies"],how='inner')

In [95]:
data["mad"] = data["ma20"] - data["ma50"]

In [96]:
data["bband_l"] = data["ma20"] - 2* data["std20"]
data["bband_u"] = data["ma20"] + 2* data["std20"]

In [103]:
data["color"] = np.where(data['diff'] > 0, "green", "red")

In [114]:
data["time"] = np.array(pd.to_datetime(data['time'], cache = True),dtype = np.datetime64).tolist()
data["time"] = data["time"].apply(lambda x: x/1000000)

In [115]:
data

,time,traded_companies,no_trans,high,low,close,traded_shares,amount,open,diff,ma20,ma50,std20,mad,bband_l,bband_u,color
0,1.271290e+12,Api Finance Limited,46.0,247.00,240.00,240.00,1520.0,375070.0,243.00,-3.00,NaN,NaN,NaN,NaN,NaN,NaN,red
1,1.271290e+12,Arun Valley Hydropower Development Co. Ltd.,2.0,430.00,430.00,430.00,30.0,12900.0,438.00,-8.00,NaN,NaN,NaN,NaN,NaN,NaN,red
2,1.271290e+12,Axis Development Bank Limited,2.0,240.00,240.00,240.00,60.0,14400.0,240.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,red
3,1.271290e+12,Bank of Asia Nepal Limited,7.0,311.00,300.00,300.00,440.0,134040.0,308.00,-8.00,NaN,NaN,NaN,NaN,NaN,NaN,red
4,1.271290e+12,Bank of Kathmandu Ltd.,6.0,747.00,740.00,747.00,273.0,202424.0,740.00,7.00,NaN,NaN,NaN,NaN,NaN,NaN,green
5,1.271290e+12,Bhrikuti Vikash Bank Limited,3.0,212.00,204.00,212.00,350.0,72600.0,200.00,12.00,NaN,NaN,NaN,NaN,NaN,NaN,green
6,1.271290e+12,Bishal Bazar Company Limited,7.0,3120.00,3120.00,3120.00,800.0,2496000.0,3060.00,60.00,NaN,NaN,NaN,NaN,NaN,NaN,green
7,1.271290e+12,Business Universal Development Bank Ltd.,7.0,206.00,189.00,189.00,487.0,95794.0,210.00,-21.00,NaN,NaN,NaN,NaN,NaN,NaN,red
8,1.271290e+12,Butwal Power Company Limited,3.0,833.00,801.00,801.00,146.0,119218.0,850.00,-49.00,NaN,NaN,NaN,NaN,NaN,NaN,red
9,1.271290e+12,Capital Merchant Bank Finance Co. Ltd.,1.0,176.00,176.00,176.00,50.0,8800.0,179.00,-3.00,NaN,NaN,NaN,NaN,NaN,NaN,red
10,1.271290e+12,Chilime Hydropower Company Limited,3.0,900.00,890.00,890.00,1210.0,1077200.0,898.00,-8.00,NaN,NaN,NaN,NaN,NaN,NaN,red
11,1.271290e+12,Citizen Bank International Limited,4.0,415.00,406.00,406.00,180.0,73750.0,409.00,-3.00,NaN,NaN,NaN,NaN,NaN,NaN,red
12,1.271290e+12,Crystal Finance Ltd.,2.0,294.00,290.00,290.00,50.0,14580.0,295.00,-5.00,NaN,NaN,NaN,NaN,NaN,NaN,red
13,1.271290e+12,Deva Bikas Bank Limited,1.0,172.00,172.00,172.00,64.0,11008.0,171.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,green
14,1.271290e+12,Everest Bank Limited,7.0,1430.00,1402.00,1410.00,330.0,465581.0,1449.00,-39.00,NaN,NaN,NaN,NaN,NaN,NaN,red
15,1.271290e+12,Everest Insurance Co. Ltd.,2.0,306.00,306.00,306.00,330.0,100980.0,300.00,6.00,NaN,NaN,NaN,NaN,NaN,NaN,green
16,1.271290e+12,Excel Development Bank Ltd.,9.0,304.00,283.00,285.00,470.0,135180.0,310.00,-25.00,NaN,NaN,NaN,NaN,NaN,NaN,red
17,1.271290e+12,Fewa Bikas Bank Ltd. Promoter Share,29.0,230.00,230.00,230.00,91470.0,21038100.0,230.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,red
18,1.271290e+12,Global IME Bank Limited,1.0,265.00,265.00,265.00,100.0,26500.0,265.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,red
19,1.271290e+12,Gorkha Finance Ltd.,1.0,197.00,197.00,197.00,100.0,19700.0,197.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,red
20,1.271290e+12,Grand Bank Nepal Limited,3.0,256.00,250.00,250.00,4283.0,1075088.0,251.00,-1.00,NaN,NaN,NaN,NaN,NaN,NaN,red
21,1.271290e+12,Gurkha Development Bank Limited,6.0,426.00,402.00,426.00,170.0,70020.0,410.00,16.00,NaN,NaN,NaN,NaN,NaN,NaN,green
22,1.271290e+12,Gurkhas Finance Ltd.,2.0,213.00,209.00,209.00,20.0,4220.0,217.00,-8.00,NaN,NaN,NaN,NaN,NaN,NaN,red
23,1.271290e+12,Himalayan Bank Limited,2.0,870.00,870.00,870.00,38.0,33060.0,860.00,10.00,NaN,NaN,NaN,NaN,NaN,NaN,green
24,1.271290e+12,ICFC Finance Limited,3.0,230.00,223.00,223.00,396.0,89628.0,234.00,-11.00,NaN,NaN,NaN,NaN,NaN,NaN,red
25,1.271290e+12,Infrastructure Development Bank Ltd.,1.0,263.00,263.00,263.00,40.0,10520.0,268.00,-5.00,NaN,NaN,NaN,NaN,NaN,NaN,red
26,1.271290e+12,Kailash Bikas Bank Ltd.,2.0,249.00,245.00,249.00,162.0,39730.0,250.00,-1.00,NaN,NaN,NaN,NaN,NaN,NaN,red
27,1.271290e+12,Kaski Finance Limited,8.0,221.00,212.00,221.00,810.0,174280.0,216.00,5.00,NaN,NaN,NaN,NaN,NaN,NaN,green
28,1.271290e+12,Kumari Bank Limited,1.0,417.00,417.00,417.00,100.0,41700.0,425.00,-8.00,NaN,NaN,NaN,NaN,NaN,NaN,red
29,1.271290e+12,Lumbini Bank Limited,1.0,245.00,245.00,245.00,249.0,61005.0,250.00,-5.00,NaN,NaN,NaN,NaN,NaN,NaN,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200501,1.508890e+12,Sanima Mai Hydropower Ltd.,16.0,522.00,510.00,510.00,3114.0,1610078.0,527.00,-17.00,530.2000,546.8000,10.092206,-16.6000,510.015587,550.384413,red
200502,1.508890e+12,Saptakoshi Development Bank Ltd.,5.0,186.00,180.00,186.00,450.0,82887.0,183.00,3.00,183.6000,187.0400,4.827553,-3.4400,173.944895,193.255105,green
200503,1.508890e+12,Shangrila Development Bank Ltd.,24.0,391.00,380.00,380.00,4651.0,1792274.0,391.00,-11.00,376.0000,383.8400,9.803329,-7.8400,356.393342,395.606658,red
200504,1.508890e+12,Shikhar Insurance Co. Ltd.,22.0,1960.00,1950.00,1950.00,439.0,856525.0,1973.00,-23.00,1963.3000,2022.5400,32.723885,-59.2400,1897.852231,2028.747769,red
200505,1.508890e+12,Shine Resunga Development Bank Ltd.,11.0,425.00,420.00,420.00,1616.0,680612.0,430.00,-10.00,412.4500,416.4600,10.328678,-4.0100,391.792645,433.107355,red
200506,1.508890e+12,Shree Investment Finance Co. Ltd.,5.0,466.00,456.00,456.00,536.0,248350.0,470.00,-14.00,456.8500,465.3200,11.739609,-8.4700,433.370782,480.329218,red
200507,1.508890e+12,Shrijana Finance (Bittaya Sanstha),5.0,535.00,528.00,528.00,270.0,142850.0,540.00,-12.00,546.9000,515.7000,17.118473,31.2000,512.663055,581.136945,red
200508,1.508890e+12,Siddhartha Bank Limited,69.0,416.00,409.00,414.00,14218.0,5867235.0,417.00,-3.00,416.5500,431.3000,9.259277,-14.7500,398.031446,435.068554,red
200509,1.508890e+12,Siddhartha Bank Limited Promoter Share,2.0,207.00,203.00,203.00,8000.0,1632000.0,211.00,-8.00,258.6500,NaN,136.809616,NaN,-14.969232,532.269232,red
200510,1.508890e+12,Siddhartha Equity Orineted Scheme,13.0,13.11,12.50,13.00,84977.0,1081572.5,12.45,0.55,11.9855,12.5084,0.383124,-0.5229,11.219252,12.751748,green
200511,1.508890e+12,Siddhartha Insurance Ltd.,42.0,1525.00,1510.00,1510.00,5022.0,7605448.0,1527.00,-17.00,1468.2000,1535.6200,47.896379,-67.4200,1372.407241,1563.992759,red
200512,1.508890e+12,Siddhartha Investment Growth Scheme-1,6.0,21.73,21.59,21.59,35500.0,770665.0,21.65,-0.06,20.9115,23.1224,0.658086,-2.2109,19.595329,22.227671,red
200513,1.508890e+12,Sindhu Bikash Bank Ltd,3.0,185.00,185.00,185.00,1000.0,185000.0,186.00,-1.00,187.4000,257.8000,5.471457,-70.4000,176.457086,198.342914,red
200514,1.508890e+12,Soaltee Hotel Limited,16.0,364.00,355.00,361.00,11550.0,4112650.0,360.00,1.00,360.1500,367.4600,5.527682,-7.3100,349.094637,371.205363,green
200515,1.508890e+12,Standard Chartered Bank Limited,108.0,2135.00,2117.00,2125.00,5908.0,12550477.0,2131.00,-6.00,2151.6000,2211.8600,36.668357,-60.2600,2078.263286,2224.936714,red
200516,1.508890e+12,Summit Micro Finance Development Bank Ltd.,12.0,2100.00,2090.00,2100.00,1304.0,2732680.0,2100.00,0.00,2054.6500,2645.9600,66.084694,-591.3100,1922.480611,2186.819389,red
200517,1.508890e+12,Sunrise Bank Limited,104.0,348.00,342.00,342.00,27470.0,9452769.0,347.00,-5.00,330.5500,347.3600,13.260448,-16.8100,304.029105,357.070895,red
200518,1.508890e+12,Surya Life Insurance Company Limited,19.0,1049.00,1021.00,1041.00,2150.0,2221529.0,1045.00,-4.00,994.8000,1056.3400,48.410090,-61.5400,897.979819,1091.620181,red
200519,1.508890e+12,Swabalamban Bikas Bank Limited,9.0,1600.00,1600.00,1600.00,557.0,891200.0,1620.00,-20.00,1650.4500,1769.7400,65.123749,-119.2900,1520.202503,1780.697497,red
200520,1.508890e+12,Swarojgar Laghu Bitta Bikas Bank Ltd.,5.0,1888.00,1865.00,1888.00,446.0,834530.0,1900.00,-12.00,2053.1500,2136.9600,250.991565,-83.8100,1551.166870,2555.133130,red
200521,1.508890e+12,Synergy Power Development Ltd.,6.0,166.00,161.00,161.00,335.0,54185.0,163.00,-2.00,163.5000,182.3400,3.000000,-18.8400,157.500000,169.500000,red
200522,1.508890e+12,Taragaon Regency Hotel Limited,14.0,290.00,280.00,290.00,940.0,269200.0,290.00,0.00,281.6000,285.6600,7.162769,-4.0600,267.274462,295.925538,red
200523,1.508890e+12,Tinau Development Bank Limited,2.0,273.00,273.00,273.00,300.0,81900.0,278.00,-5.00,274.1000,295.5800,7.426127,-21.4800,259.247745,288.952255,red
200524,1.508890e+12,Uniliver Nepal Limited,1.0,28812.00,28812.00,28812.00,10.0,288120.0,29400.00,-588.00,29834.5000,29637.5200,486.236081,196.9800,28862.027838,30806.972162,red
200525,1.508890e+12,United Finance Ltd.,1.0,271.00,271.00,271.00,34.0,9214.0,276.00,-5.00,266.6500,260.4400,9.275179,6.2100,248.099642,285.200358,red
200526,1.508890e+12,United Insurance Co. (Nepal) Ltd.,18.0,1295.00,1280.00,1284.00,1685.0,2168340.0,1284.00,0.00,1286.6500,1407.7800,23.903920,-121.1300,1238.842161,1334.457839,red
200527,1.508890e+12,United Modi Hydropower Ltd.,9.0,258.00,253.00,256.00,601.0,154326.0,256.00,0.00,258.5000,282.2600,5.453150,-23.7600,247.593701,269.406299,red
200528,1.508890e+12,Vijaya laghubitta Bittiya Sanstha Ltd.,8.0,1248.00,1230.00,1248.00,283.0,351253.0,1241.00,7.00,1272.3000,1332.4800,28.114615,-60.1800,1216.070770,1328.529230,green
200529,1.508890e+12,Womi Microfinance Bittiya Sanstha Ltd.,9.0,2010.00,1980.00,1980.00,396.0,786340.0,2020.00,-40.00,1830.3500,1921.4600,435.297149,-91.1100,959.755702,2700.944298,red
200530,1.508890e+12,World Merchant Banking Finance Ltd.,8.0,136.00,134.00,134.00,1560.0,210220.0,138.00,-4.00,139.0000,149.0200,3.986820,-10.0200,131.026359,146.973641,red

In [116]:
data.dropna().to_csv("processed_data.csv",index=False)

In [117]:
from bokeh.models import ColumnDataSource

In [118]:
source = ColumnDataSource(data)

In [121]:
str(source)

"ColumnDataSource(id='1001', ...)"