In [4]:
import numpy as np
import pandas as pd

In [5]:
processed_data = pd.read_csv('processed_data.csv')

In [6]:
processed_data.head()

,time,traded_companies,no_trans,high,low,close,traded_shares,amount,open,diff,ma20,ma50,std20,mad,bband_l,bband_u,color
0,1.275178e+12,Rastriya Beema Company Limited,5.0,435.0,427.0,435.0,420.0,180300.0,419.0,16.0,639.4,696.02,543.516375,-56.62,-447.632750,1726.432750,green
1,1.275178e+12,Rastriya Beema Company Limited,5.0,435.0,427.0,435.0,420.0,180300.0,419.0,16.0,639.4,696.02,549.401981,-56.62,-459.403962,1738.203962,green
2,1.275178e+12,Rastriya Beema Company Limited,5.0,435.0,427.0,435.0,420.0,180300.0,419.0,16.0,639.4,696.02,550.793827,-56.62,-462.187653,1740.987653,green
3,1.275178e+12,Rastriya Beema Company Limited,5.0,435.0,427.0,435.0,420.0,180300.0,419.0,16.0,639.4,696.02,547.726171,-56.62,-456.052341,1734.852341,green
4,1.275178e+12,Rastriya Beema Company Limited,5.0,435.0,427.0,435.0,420.0,180300.0,419.0,16.0,639.4,696.02,547.059123,-56.62,-454.718246,1733.518246,green

In [7]:
from datetime import datetime

In [8]:
dates = processed_data['time']
dates = dates.astype(int)

In [9]:
dates = pd.to_datetime(dates, unit='ms')

In [10]:
processed_data['time'] = dates
processed_data.head()

,time,traded_companies,no_trans,high,low,close,traded_shares,amount,open,diff,ma20,ma50,std20,mad,bband_l,bband_u,color
0,2010-05-30,Rastriya Beema Company Limited,5.0,435.0,427.0,435.0,420.0,180300.0,419.0,16.0,639.4,696.02,543.516375,-56.62,-447.632750,1726.432750,green
1,2010-05-30,Rastriya Beema Company Limited,5.0,435.0,427.0,435.0,420.0,180300.0,419.0,16.0,639.4,696.02,549.401981,-56.62,-459.403962,1738.203962,green
2,2010-05-30,Rastriya Beema Company Limited,5.0,435.0,427.0,435.0,420.0,180300.0,419.0,16.0,639.4,696.02,550.793827,-56.62,-462.187653,1740.987653,green
3,2010-05-30,Rastriya Beema Company Limited,5.0,435.0,427.0,435.0,420.0,180300.0,419.0,16.0,639.4,696.02,547.726171,-56.62,-456.052341,1734.852341,green
4,2010-05-30,Rastriya Beema Company Limited,5.0,435.0,427.0,435.0,420.0,180300.0,419.0,16.0,639.4,696.02,547.059123,-56.62,-454.718246,1733.518246,green

In [16]:
processed_data.groupby('time').head(1)

,time,traded_companies,no_trans,high,low,close,traded_shares,amount,open,diff,ma20,ma50,std20,mad,bband_l,bband_u,color
0,2010-05-30,Rastriya Beema Company Limited,5.0,435.0,427.0,435.0,420.0,180300.0,419.0,16.0,639.40,696.02,543.516375,-56.62,-447.632750,1726.432750,green
192,2010-05-31,Rastriya Beema Company Limited,2.0,436.0,433.0,433.0,50.0,21710.0,435.0,-2.0,657.40,723.04,539.813737,-65.64,-422.227475,1737.027475,red
193,2010-06-01,Rastriya Beema Company Limited,7.0,425.0,393.0,393.0,110.0,44710.0,433.0,-40.0,612.55,702.90,543.606679,-90.35,-474.663357,1699.763357,red
194,2010-06-02,Rastriya Beema Company Limited,5.0,400.0,386.0,400.0,255.0,99165.0,393.0,7.0,620.10,704.82,540.952318,-84.72,-461.804636,1702.004636,green
450,2010-06-03,Rastriya Beema Company Limited,5.0,392.0,371.0,371.0,140.0,53830.0,400.0,-29.0,629.45,732.06,526.916899,-102.61,-424.383798,1683.283798,red
451,2010-06-06,Rastriya Beema Company Limited,1.0,364.0,364.0,364.0,15.0,5460.0,371.0,-7.0,632.65,711.24,516.984116,-78.59,-401.318232,1666.618232,red
707,2010-06-07,Rastriya Beema Company Limited,13.0,357.0,343.0,355.0,585.0,205560.0,364.0,-9.0,640.35,738.64,544.390379,-98.29,-448.430757,1729.130757,red
708,2010-06-09,Rastriya Beema Company Limited,3.0,370.0,362.0,370.0,160.0,59070.0,355.0,15.0,645.60,718.04,541.375662,-72.44,-437.151325,1728.351325,green
709,2010-06-10,Rastriya Beema Company Limited,5.0,380.0,370.0,380.0,265.0,99450.0,370.0,10.0,650.05,720.54,532.466297,-70.49,-414.882595,1714.982595,green
710,2010-06-13,Rastriya Beema Company Limited,1.0,380.0,380.0,380.0,15.0,5700.0,380.0,0.0,653.10,723.04,532.097763,-69.94,-411.095525,1717.295525,red
711,2010-06-15,Rastriya Beema Company Limited,4.0,373.0,366.0,370.0,230.0,85385.0,380.0,-10.0,654.10,725.34,531.846661,-71.24,-409.593322,1717.793322,red
712,2010-06-16,Rastriya Beema Company Limited,8.0,363.0,333.0,333.0,135.0,46635.0,370.0,-37.0,652.30,705.68,533.197445,-53.38,-414.094891,1718.694891,red
713,2010-06-20,Rastriya Beema Company Limited,14.0,358.0,339.0,358.0,945.0,331740.0,333.0,25.0,650.70,686.52,533.450545,-35.82,-416.201090,1717.601090,green
714,2010-06-21,Rastriya Beema Company Limited,20.0,365.0,358.0,365.0,810.0,290085.0,358.0,7.0,648.70,689.00,533.408728,-40.30,-418.117456,1715.517456,green
715,2010-06-24,Rastriya Beema Company Limited,5.0,377.0,370.0,377.0,265.0,98750.0,365.0,12.0,597.55,691.72,532.872059,-94.17,-468.194119,1663.294119,green
716,2010-06-29,Rastriya Beema Company Limited,5.0,385.0,377.0,385.0,180.0,69150.0,377.0,8.0,595.85,673.62,532.010534,-77.77,-468.171067,1659.871067,green
717,2010-06-30,Rastriya Beema Company Limited,2.0,378.0,378.0,378.0,50.0,18900.0,385.0,-7.0,539.05,655.38,531.429341,-116.33,-523.808682,1601.908682,red
718,2010-07-04,Rastriya Beema Company Limited,1.0,371.0,371.0,371.0,15.0,5565.0,378.0,-7.0,535.85,657.82,531.135715,-121.97,-526.421429,1598.121429,red
719,2010-07-05,Bank of Kathmandu Ltd.,28.0,835.0,824.0,831.0,3098.0,2565587.0,831.0,0.0,861.45,805.84,20.538731,55.61,820.372538,902.527462,red
728,2010-07-06,Bank of Kathmandu Ltd.,43.0,840.0,825.0,835.0,8922.0,7442670.0,831.0,4.0,859.00,807.60,20.629565,51.40,817.740870,900.259130,green
997,2010-07-07,Arun Valley Hydropower Development Co. Ltd.,47.0,465.0,457.0,459.0,1086.0,500082.0,457.0,2.0,465.95,460.00,8.120636,5.95,449.708727,482.191273,green
1014,2010-07-08,Arun Valley Hydropower Development Co. Ltd.,45.0,459.0,455.0,457.0,1283.0,587768.0,459.0,-2.0,464.55,460.54,6.999812,4.01,450.550376,478.549624,red
1290,2010-07-11,Arun Valley Hydropower Development Co. Ltd.,35.0,464.0,450.0,464.0,960.0,437978.0,457.0,7.0,463.75,461.48,5.981331,2.27,451.787339,475.712661,green
1310,2010-07-12,Arun Valley Hydropower Development Co. Ltd.,62.0,460.0,450.0,451.0,1512.0,692076.0,464.0,-13.0,462.80,462.58,6.428555,0.22,449.942891,475.657109,red
1334,2010-07-13,Arun Valley Hydropower Development Co. Ltd.,19.0,450.0,440.0,450.0,490.0,217934.0,451.0,-1.0,461.90,463.98,6.904613,-2.08,448.090773,475.709227,red
1358,2010-07-14,Arun Valley Hydropower Development Co. Ltd.,78.0,449.0,430.0,449.0,1708.0,758310.0,450.0,-1.0,460.85,465.16,7.198501,-4.31,446.452997,475.247003,red
1385,2010-07-15,Arun Valley Hydropower Development Co. Ltd.,25.0,460.0,456.0,460.0,880.0,404512.0,449.0,11.0,460.60,466.66,7.133317,-6.06,446.333366,474.866634,green
1666,2010-07-18,Arun Valley Hydropower Development Co. Ltd.,45.0,462.0,455.0,462.0,1500.0,688338.0,460.0,2.0,460.40,468.18,7.029262,-7.78,446.341476,474.458524,green
1693,2010-07-19,Arun Valley Hydropower Development Co. Ltd.,15.0,462.0,455.0,460.0,378.0,173964.0,462.0,-2.0,459.85,469.50,6.571670,-9.65,446.706661,472.993339,red
1722,2010-07-20,Arun Valley Hydropower Development Co. Ltd.,32.0,460.0,455.0,455.0,812.0,371966.0,460.0,-5.0,459.10,470.34,6.197623,-11.24,446.704755,471.495245,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177543,2017-08-31,Agriculture Development Bank Limited,83.0,438.0,432.0,437.0,15528.0,6769346.0,438.0,-1.0,445.55,441.52,5.898037,4.03,433.753926,457.346074,red
177696,2017-09-04,Agriculture Development Bank Limited,94.0,439.0,426.0,430.0,33009.0,14133477.0,437.0,-7.0,444.35,441.50,6.499190,2.85,431.351620,457.348380,red
177843,2017-09-06,Agriculture Development Bank Limited,111.0,440.0,425.0,438.0,11603.0,4994219.0,430.0,8.0,443.55,441.72,6.227908,1.83,431.094183,456.005817,green
178001,2017-09-07,Agriculture Development Bank Limited,89.0,438.0,426.0,428.0,34082.0,14711435.0,438.0,-10.0,442.30,441.82,6.720746,0.48,428.858509,455.741491,red
178155,2017-09-10,Agriculture Development Bank Limited,126.0,431.0,423.0,425.0,37704.0,16076730.0,428.0,-3.0,440.85,441.90,7.176533,-1.05,426.496933,455.203067,red
178307,2017-09-11,Agriculture Development Bank Limited,65.0,430.0,420.0,424.0,17950.0,7592940.0,425.0,-1.0,439.40,441.96,7.514197,-2.56,424.371606,454.428394,red
178461,2017-09-12,Agriculture Development Bank Limited,98.0,426.0,420.0,421.0,27903.0,11782776.0,424.0,-3.0,437.95,441.92,8.133589,-3.97,421.682823,454.217177,red
178610,2017-09-13,Agriculture Development Bank Limited,111.0,423.0,418.0,420.0,32249.0,13538906.0,421.0,-1.0,436.45,441.88,8.550008,-5.43,419.349985,453.550015,red
178764,2017-09-14,Agriculture Development Bank Limited,115.0,447.0,419.0,447.0,42524.0,18361183.0,420.0,27.0,436.55,442.26,8.666177,-5.71,419.217645,453.882355,green
178921,2017-09-17,Agriculture Development Bank Limited,159.0,459.0,438.0,447.0,49764.0,22001355.0,447.0,0.0,436.85,442.64,8.928223,-5.79,418.993555,454.706445,red
179077,2017-09-18,Agriculture Development Bank Limited,119.0,452.0,443.0,443.0,33400.0,14877419.0,447.0,-4.0,436.80,443.04,8.888787,-6.24,419.022427,454.577573,red
179235,2017-09-20,Agriculture Development Bank Limited,65.0,443.0,435.0,439.0,10450.0,4599400.0,443.0,-4.0,436.60,443.42,8.786353,-6.82,419.027294,454.172706,red
179386,2017-09-24,Agriculture Development Bank Limited,42.0,443.0,439.0,441.0,3718.0,1638796.0,439.0,2.0,436.65,443.74,8.809534,-7.09,419.030931,454.269069,green
179531,2017-09-25,Agriculture Development Bank Limited,29.0,448.0,440.0,448.0,2882.0,1272835.0,441.0,7.0,437.15,443.96,9.166730,-6.81,418.816539,455.483461,green
179680,2017-09-26,Agriculture Development Bank Limited,35.0,449.0,443.0,448.0,5132.0,2286875.0,448.0,0.0,437.50,444.10,9.450703,-6.60,418.598594,456.401406,red
179830,2017-10-03,Agriculture Development Bank Limited,20.0,453.0,446.0,453.0,3164.0,1415634.0,448.0,5.0,438.10,444.50,10.046733,-6.40,418.006534,458.193466,green
179948,2017-10-04,Agriculture Development Bank Limited,40.0,450.0,437.0,440.0,6475.0,2854121.0,453.0,-13.0,437.95,444.60,9.991970,-6.65,417.966059,457.933941,red
180089,2017-10-08,Agriculture Development Bank Limited,91.0,432.0,420.0,432.0,15759.0,6712529.0,440.0,-8.0,437.25,444.60,9.888191,-7.35,417.473619,457.026381,red
180236,2017-10-09,Agriculture Development Bank Limited,76.0,433.0,425.0,431.0,17649.0,7561101.0,432.0,-1.0,436.50,444.52,9.757588,-8.02,416.984824,456.015176,red
180384,2017-10-10,Agriculture Development Bank Limited,89.0,438.0,423.0,427.0,19003.0,8118044.0,431.0,-4.0,435.95,444.40,9.976156,-8.45,415.997688,455.902312,red
180535,2017-10-11,Agriculture Development Bank Limited,65.0,431.0,425.0,428.0,11993.0,5132940.0,427.0,1.0,435.50,444.00,10.128127,-8.50,415.243747,455.756253,green
180692,2017-10-12,Agriculture Development Bank Limited,45.0,435.0,428.0,429.0,5474.0,2357856.0,428.0,1.0,435.45,443.14,10.159129,-7.69,415.131743,455.768257,green
180841,2017-10-15,Agriculture Development Bank Limited,49.0,433.0,427.0,433.0,5553.0,2393186.0,429.0,4.0,435.20,442.60,10.154595,-7.40,414.890811,455.509189,green
180991,2017-10-16,Agriculture Development Bank Limited,87.0,451.0,434.0,442.0,18696.0,8294486.0,433.0,9.0,435.90,442.22,10.114606,-6.32,415.670787,456.129213,green
181145,2017-10-17,Agriculture Development Bank Limited,64.0,450.0,436.0,449.0,12124.0,5388922.0,442.0,7.0,437.10,442.02,10.176857,-4.92,416.746286,457.453714,green
181301,2017-10-18,Agriculture Development Bank Limited,53.0,450.0,438.0,444.0,12688.0,5628714.0,449.0,-5.0,438.10,441.80,9.797422,-3.70,418.505156,457.694844,red
181441,2017-10-22,Agriculture Development Bank Limited,44.0,458.0,436.0,450.0,11183.0,5051656.0,444.0,6.0,439.55,441.64,9.264959,-2.09,421.020081,458.079919,green
181583,2017-10-23,Agriculture Development Bank Limited,79.0,455.0,445.0,449.0,12644.0,5695162.0,450.0,-1.0,441.00,441.62,8.258966,-0.62,424.482067,457.517933,red
181735,2017-10-24,Agriculture Development Bank Limited,59.0,452.0,445.0,448.0,9549.0,4278475.0,449.0,-1.0,441.05,441.38,8.300127,-0.33,424.449746,457.650254,red
181889,2017-10-25,Agriculture Development Bank Limited,93.0,451.0,444.0,449.0,17137.0,7675865.0,448.0,1.0,441.15,441.34,8.387177,-0.19,424.375646,457.924354,green

In [20]:
data_sample = processed_data[1:5]

In [24]:
data_sample = data_sample.append(processed_data[10000:10005], ignore_index=True)

In [25]:
data_sample = data_sample.append(processed_data[80000:80005], ignore_index=True)

In [55]:
data_sample = data_sample.append(processed_data[1000:1005], ignore_index=True)
data_sample

,time,traded_companies,no_trans,high,low,close,traded_shares,amount,open,diff,ma20,ma50,std20,mad,bband_l,bband_u,color
0,2010-05-30,Rastriya Beema Company Limited,5.0,435.00,427.00,435.00,420.0,180300.0,419.0,16.00,639.4000,696.0200,549.401981,-56.6200,-459.403962,1738.203962,green
1,2010-05-30,Rastriya Beema Company Limited,5.0,435.00,427.00,435.00,420.0,180300.0,419.0,16.00,639.4000,696.0200,550.793827,-56.6200,-462.187653,1740.987653,green
2,2010-05-30,Rastriya Beema Company Limited,5.0,435.00,427.00,435.00,420.0,180300.0,419.0,16.00,639.4000,696.0200,547.726171,-56.6200,-456.052341,1734.852341,green
3,2010-05-30,Rastriya Beema Company Limited,5.0,435.00,427.00,435.00,420.0,180300.0,419.0,16.00,639.4000,696.0200,547.059123,-56.6200,-454.718246,1733.518246,green
4,2011-02-24,National Hydro Power Company Limited,1.0,43.41,43.41,43.41,1000.0,43410.0,44.3,-0.89,46.8905,44.2250,2.786659,2.6655,41.317182,52.463818,red
5,2011-02-24,Nepal Credit And Commercial Bank Limited,1.0,190.00,190.00,190.00,100.0,19000.0,194.0,-4.00,191.2000,193.7800,12.024536,-2.5800,167.150927,215.249073,red
6,2011-02-24,Nepal Doorsanchar Comapany Limited,5.0,460.00,448.00,450.00,1050.0,474150.0,455.0,-5.00,453.8500,449.4600,5.284287,4.3900,443.281427,464.418573,red
7,2011-02-24,Nepal Investment Bank Limited,17.0,605.00,600.00,603.00,3644.0,2187989.0,612.0,-9.00,629.7500,617.5400,19.161021,12.2100,591.427957,668.072043,red
8,2011-02-24,Nepal Life Insurance Co. Ltd.,9.0,785.00,780.00,780.00,184.0,143685.0,780.0,0.00,775.2500,753.0600,17.707789,22.1900,739.834422,810.665578,red
9,2014-04-16,Himalayan Bank Limited,3.0,835.00,820.00,820.00,1013.0,832810.0,835.0,-15.00,817.3000,862.2000,9.285529,-44.9000,798.728942,835.871058,red
10,2014-04-16,Himalayan General Insurance Co. Ltd,8.0,409.00,402.00,408.00,2832.0,1147186.0,400.0,8.00,406.2000,414.1400,12.517777,-7.9400,381.164446,431.235554,green
11,2014-04-16,Infrastructure Development Bank Ltd.,31.0,122.00,118.00,120.00,18150.0,2183449.0,122.0,-2.00,119.6000,118.6600,2.137387,0.9400,115.325227,123.874773,red
12,2014-04-16,International Development Bank Ltd,16.0,153.00,147.00,151.00,8054.0,1207446.0,149.0,2.00,139.5000,132.8000,10.282842,6.7000,118.934316,160.065684,green
13,2014-04-16,International Leasing Finance Co. Ltd.,4.0,225.00,221.00,221.00,2854.0,631886.0,228.0,-7.00,224.3000,230.9400,5.611079,-6.6400,213.077841,235.522159,red
14,2010-07-07,Lumbini Bank Limited,18.0,290.00,280.00,285.00,5222.0,1504910.0,289.0,-4.00,292.5000,273.1800,6.557439,19.3200,279.385123,305.614877,red
15,2010-07-07,Lumbini Bikas Bank Ltd.,72.0,285.00,273.00,274.00,3140.0,862380.0,273.0,1.00,286.2500,275.2200,9.267231,11.0300,267.715537,304.784463,green
16,2010-07-07,Nabil Bank Limited,10.0,2175.00,2135.00,2135.00,802.0,1735004.0,2125.0,10.00,2221.5500,2140.6600,79.380811,80.8900,2062.788378,2380.311622,green
17,2010-07-07,National Hydro Power Company Limited,2.0,53.00,53.00,53.00,320.0,16960.0,52.0,1.00,51.0730,50.2542,1.625847,0.8188,47.821305,54.324695,green
18,2010-07-07,Nepal Bangladesh Bank Limited,16.0,245.00,225.00,226.00,1835.0,423525.0,223.0,3.00,239.4000,231.5800,12.650775,7.8200,214.098450,264.701550,green
19,2010-07-07,Lumbini Bank Limited,18.0,290.00,280.00,285.00,5222.0,1504910.0,289.0,-4.00,292.5000,273.1800,6.557439,19.3200,279.385123,305.614877,red
20,2010-07-07,Lumbini Bikas Bank Ltd.,72.0,285.00,273.00,274.00,3140.0,862380.0,273.0,1.00,286.2500,275.2200,9.267231,11.0300,267.715537,304.784463,green
21,2010-07-07,Nabil Bank Limited,10.0,2175.00,2135.00,2135.00,802.0,1735004.0,2125.0,10.00,2221.5500,2140.6600,79.380811,80.8900,2062.788378,2380.311622,green
22,2010-07-07,National Hydro Power Company Limited,2.0,53.00,53.00,53.00,320.0,16960.0,52.0,1.00,51.0730,50.2542,1.625847,0.8188,47.821305,54.324695,green
23,2010-07-07,Nepal Bangladesh Bank Limited,16.0,245.00,225.00,226.00,1835.0,423525.0,223.0,3.00,239.4000,231.5800,12.650775,7.8200,214.098450,264.701550,green

In [58]:
year_data = data_sample.groupby(data_sample['time'].dt.to_period('Y'))['high'].agg(['max'])

In [59]:
year_data['min'] = data_sample.groupby(data_sample['time'].dt.to_period('Y'))['low'].agg(['min'])

In [61]:
year_data['no_of_trans'] = data_sample.groupby(data_sample['time'].dt.to_period('Y'))['no_trans'].agg(['sum'])

In [65]:
company_data = processed_data.loc[processed_data['traded_companies'] == 'Nabil Bank Limited']

In [66]:
company_data_year = company_data.groupby(company_data['time'].dt.to_period('Y'))['high'].agg(['max'])
company_data_year['min'] = company_data.groupby(company_data['time'].dt.to_period('Y'))['low'].agg(['min'])
company_data_year['no_of_trans'] = company_data.groupby(company_data['time'].dt.to_period('Y'))['no_trans'].agg(['sum'])

In [67]:
company_data_year

         max     min  no_of_trans
time
2010  2433.0  1129.0       1577.0
2011  1410.0   781.0       2309.0
2012  1701.0   814.0       3676.0
2013  2800.0  1540.0       5036.0
2014  2680.0  1564.0       5422.0
2015  2794.0  1575.0       5611.0
2016  2548.0  1421.0      13969.0
2017  1810.0  1170.0      13777.0

In [70]:
company_data_year['open'] = company_data.groupby(company_data['time'].dt.to_period('Y'))['open'].agg(['first'])

In [80]:
company_data_year['close'] = company_data.groupby(company_data['time'].dt.to_period('Y'))['close'].agg(['last'])

In [82]:
company_data_year.loc[company_data_year.close > company_data_year.open, 'color'] = 'green'
company_data_year.loc[company_data_year.close <= company_data_year.open, 'color'] = 'red'

         max     min  no_of_trans    open   close
time
2010  2433.0  1129.0       1577.0  2200.0  1310.0
2011  1410.0   781.0       2309.0  1310.0   873.0
2012  1701.0   814.0       3676.0   873.0  1693.0
2013  2800.0  1540.0       5036.0  1693.0  2210.0
2014  2680.0  1564.0       5422.0  2210.0  1820.0
2015  2794.0  1575.0       5611.0  1820.0  1860.0
2016  2548.0  1421.0      13969.0  1860.0  1519.0
2017  1810.0  1170.0      13777.0  1519.0  1235.0